<nz-layout class="animated fadeIn">
  <nz-header class="d-flex shadow mb-3">
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/cards']">
          <i nz-icon nzType="credit-card"></i> Transaction
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/history']">
          <i nz-icon nzType="history"></i> History
        </a>
      </li>
    </ul>
    <a class="ml-auto align-self-center text-white"
       [routerLink]="['']">
      <i nz-icon nzType="logout"></i>
    </a>
  </nz-header>
  <nz-content class="container-fluid">
    <div class="card shadow-lg p-3">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer class="text-center">©2020</nz-footer>
</nz-layout>
